* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --darkPurple: rgb(66, 3, 44);
  --orange: rgb(211, 107, 0);
  --page: rgb(230, 210, 170);
  --lightPage: rgb(241, 239, 220);
}
body {
  font: Margarine;
  color: var(--darkPurple);
  background-color: var(--page);
}
main {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.idn {
  background-color: var(--page);
}
.BarGroup {
  width: 100%;
}
.BarGroup1 {
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.helpAndSettingsIcons {
  display: flex;
}

.logo {
  font: Margarine;
  height: 86.72px;
  width: 171px;
  left: 639px;
  top: 40px;
}

.userClick {
  left: 125px;
  top: 96px;
}
.userWindow {
  width: 461px;
  height: 273px;
  left: 152px;
  top: 149px;

  background: #f1efdc;
  border: 2px solid #42032c;
}

.helpClick {
  left: 1209.55px;
  top: 102.29px;
}
.helpWindow {
  width: 461px;
  height: 273px;
  left: 781px;
  top: 146px;

  background: #f1efdc;
  border: 2px solid #42032c;
}
.settingsClick {
  left: 1300.78px;
  top: 102.29px;
}
.settingsWindow {
  width: 461px;
  height: 273px;
  left: 827px;
  top: 149px;

  background: var(--lightPage);
  border: 2px solid var(--darkPurple);
}

.ChooseLevel {
  position: absolute;
  height: 26.93px;
  width: 145.96px;
  left: 651.07px;
  top: 429.34px;
}

.easyLevel {
  position: absolute;
  height: 55.13px;
  width: 309.09px;
  left: 213.76px;
  top: 487.26px;
}

.middleLevel {
  position: absolute;
  height: 55.13px;
  width: 309.09px;
  left: 559.54px;
  top: 487.26px;
}

.hardLevel {
  position: absolute;
  height: 55.13px;
  width: 309.09px;
  left: 918.15px;
  top: 487.26px;
}

.ChoosePicture {
  position: absolute;
  height: 28.85px;
  width: 210.84px;
  left: 608.49px;
  top: 170.66px;
}

.pic1 {
  position: absolute;
  height: 146.6px;
  width: 281.12px;
  left: 213.76px;
  top: 229.73px;
}

.pic2 {
  position: absolute;
  height: 146.6px;
  width: 281.12px;
  left: 572.78px;
  top: 229.73px;
}

.pic3 {
  position: absolute;
  height: 146.6px;
  width: 281.12px;
  left: 932.69px;
  top: 229.73px;
}
