* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --darkPurple: rgb(66, 3, 44);
  --orange: rgb(211, 107, 0);
  --page: rgb(230, 210, 170);
  --lightPage: rgb(241, 239, 220);
}
body {
  font: Margarine;
  color: var(--darkPurple);
  background-color: var(--page);
}
main {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.BarGroup1 {
  position: absolute;
  height: 108.83px;
  width: 1189px;
  left: 125px;
  top: 40px;
  background-color: var(--page);
}
.idn {
  background-color: var(--page);
}
.logo {
  position: absolute;
  height: 86.72px;
  width: 171px;
  left: 639px;
  top: 40px;
}
.userClick {
  position: absolute;
  height: 52.08px;
  width: 54.09px;
  left: 125px;
  top: 96px;
}
.BarGroup1-2 {
  position: absolute;
  height: 45.8px;
  width: 104.45px;
  left: 1209.55px;
  top: 102.29px;
}
.helpClick {
  position: absolute;
  height: 44.19px;
  width: 52.22px;
  left: 1209.55px;
  top: 102.29px;
}
.settingsClick {
  position: absolute;
  height: 45.8px;
  width: 52.22px;
  left: 1261.78px;
  top: 102.29px;
}

.easyLevel {
  position: absolute;
  height: 55.13px;
  width: 309.09px;
  left: 213.76px;
  top: 487.26px;
}

.middleLevel {
  position: absolute;
  height: 55.13px;
  width: 309.09px;
  left: 559.54px;
  top: 487.26px;
}

.hardLevel {
  position: absolute;
  height: 55.13px;
  width: 309.09px;
  left: 918.15px;
  top: 487.26px;
}

.ChoosePicture {
  position: absolute;
  height: 28.85px;
  width: 210.84px;
  left: 608.49px;
  top: 170.66px;
}

.ChooseLevel {
  position: absolute;
  height: 26.93px;
  width: 145.96px;
  left: 651.07px;
  top: 429.34px;
}
