* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --darkPurple: rgb(66, 3, 44);
  --orange: rgb(211, 107, 0);
  --page: rgb(230, 210, 170);
  --lightPage: rgb(241, 239, 220);
}

body {
  font-family: Margarine, sans-serif;
  color: var(--darkPurple);
  background-color: var(--page);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.idn {
  background-color: var(--page);
}

.BarGroup {
  width: 100%;
}

.BarGroup1 {
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid;
  width: 80%;
}

/* Code from inspect */
/* .BarGroup1 { */
/* margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 42px;
} */

.logo img {
  margin-left: 19px;
  width: 50px;
}

.helpAndSettingsIcons {
  display: flex;
}

.logo {
  font: Margarine;
  height: 86.72px;
  width: 171px;
  left: 639px;
  top: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.userClick {
  left: 125px;
  top: 96px;
  display: flex;
  align-items: center;
}

.userClick img {
  width: 52.22px;
  height: 52.22px;
}

.helpClick {
  left: 1209.55px;
  top: 102.29px;
}

.helpClick img {
  width: 52.22px;
  height: 52.22px;
}

.settingsClick {
  left: 1300.78px;
  top: 102.29px;
}

.settingsClick img {
  width: 52.22px;
  height: 52.22px;
}

.ChooseLevel {
  background: #e6d2aa;
  position: absolute;
  width: 309px;
  height: 59px;
  top: 415px;
  left: 562px;
  font-family: "Margarine";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #42032c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* choose level */

  position: absolute;
  width: 145.96px;
  height: 15.58px;
  left: 648px;
  top: 429.52px;

  font-family: 'Margarine';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;

  color: #42032C;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.easyLevel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #d36b00;
  position: absolute;
  width: 309px;
  height: 59px;
  left: 217px;
  top: 483px;
  font-family: "Margarine";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #42032c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mediumLevel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #d36b00;
  position: absolute;
  width: 309px;
  height: 59px;
  left: 562px;
  top: 483px;
  font-family: "Margarine";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #42032c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hardLevel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #d36b00;
  position: absolute;
  width: 309px;
  height: 59px;
  left: 921px;
  top: 483px;
  font-family: "Margarine";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #42032c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.choosePicWithPics {
  width: 1013.24px;
  height: 235.48px;
  left: 214px;
  top: 162px;
}

.ChoosePicture {
  position: absolute;
  width: 309px;
  height: 59px;
  left: 562px;
  top: 162px;
  font-family: "Margarine";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #42032c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pic1 {
  position: absolute;
  height: 146.6px;
  width: 280.32px;
  left: 227.15px;
  top: 239.94px;
}

.backgroundPic1 {
  position: absolute;
  height: 167.75px;
  width: 308px;
  left: 214px;
  top: 229px;
}

.pic2 {
  position: absolute;
  height: 146.6px;
  width: 281.12px;
  left: 572.78px;
  top: 239.94px;
}

.backgroundPic2 {
  position: absolute;
  height: 167.75px;
  width: 308.88px;
  left: 559.35px;
  top: 229px;
}

.pic3 {
  position: absolute;
  height: 146.6px;
  width: 281.12px;
  left: 932.69px;
  top: 239.94px;
}

.backgroundPic3 {
  position: absolute;
  height: 167.75px;
  width: 308.88px;
  left: 918.36px;
  top: 229px;
}