.board{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 900px;
    height: 900px;
    margin-left: 300px;
    margin-top: 340px;
}

.PicCell{
    width: 300px;
    height: 300px;
}

.imgStyle{
    width: 300px;
    height: 300px;
}